body {
  background-image: url("./assets/background.jpg");
  background-size: cover; 
  background-repeat: repeat;
  background-position: center;
  margin: 0; 
  height: 100vh; 
  color: white;
  font-family: Consolas, monospace;
}
